@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: hsl(185, 75%, 39%);
    background-image: url("../img/bg-pattern-top.svg"), url("../img/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: -50% 50%, 140% -30%;
}

.container {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-bg {
    background-image: url("../img/bg-pattern-card.svg");
    width: 100%;
    height: 18vh;
    border-radius: 10px 10px 0 0;
}

.card-details {
    background-color: #fff;
    text-align: center;
    border-radius: 0 0 10px 10px;

}

.card-details img {
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    top: -2.5rem;
}

.text h1 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -2rem;
}

.age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 0.5rem;
}

.place {
    color: hsl(0, 0%, 59%);
    font-size: 0.95rem;
    position: relative;
    top: -1.5rem;
}

hr {
    border: none;
    border-top: 1px solid hsla(0, 0%, 59%, 0.4);
}

.social-stats {
    color: hsl(229, 23%, 23%);
    display: inline-block;
    margin: 1.5rem;
}

.social-stats h2 {
    font-size: 18px;
    margin-bottom: 0.3rem;
}

.social-stats p {
    color: hsl(0, 0%, 59%);
    font-size: 0.6rem;
    letter-spacing: 1px;
}

@media (max-width:350px) {
    
    .container{
        width: 85%;
    }
    body {
        background-position: 110% 70%, 0% -40%;
    }
}
